*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}   

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7) ,rgba(4,9,30,0.7)),url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
span{
   color:orange;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7) ,rgba(4,9,30,0.7)),url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color:#fff
}
.sub-header h1{
    margin-top: 10px;
}

.services{
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 50px;
}

.services-col{
    flex-basis:  100%;
    padding: 10px 1px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}
.career{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.career-left{
    flex-basis: 48%;
    padding: 40px 4px;
}

button {
    background-image: linear-gradient(to right, #663399, #8853bd);
    border-radius: 20px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color:black;
    cursor: pointer;
    padding: 10px 25px;
}
button:active {
     opacity: 0.8;
}
.jobs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    margin-top: 30px;
}
.contact-us{
    width: 80%;
    margin: auto;
    text-align: center;
}
.contact-left{
    flex-basis: 48%;
    margin-bottom: 30px;
   
}
.contact-right{
    flex-basis: 48%;
}
.contact-left div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.contact-left div p{
    padding: 10px;
}
.row{
    display: flex;
   flex-direction: column-reverse;
   align-items: center;
}
.head {
    padding-top: 20px;
}
.contact-left div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:black;
    font-weight: 400;
}
.contact-right input, .contact-right text area{
    
   
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    max-width: 800px;
    margin: auto;
    background-color: #ccc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.contact-left,
.contact-right{
    padding-top: 50px;
}
.hero-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
.her0-btn:hover {
    background: #d32f2f;
}
.python{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
}

.python-left{
    flex-basis: 48%;
    padding: 40px 5px;
}

.japply {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.applyp {
    margin:auto;
    padding-top: 30px;
}
.python-left input, .python-left text area {
     width: 50%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.ai{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
}

.ai-left{
    flex-basis: 48%;
    padding: 40px 5px;
}

.aiapply {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.applyai {
    margin:auto;
    padding-top: 30px;
}
.jdesc {
    margin: auto;
    padding-top: 30px;
}
.ai-left input, .ai-left text area {
     width: 50%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
#file-upload {
    display: none;
}

.file_upload_button {
    display: inline-block;
    padding: 15px 100px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 1px solid rgb(73, 112, 123);
    cursor: pointer;
    font-weight: 500;
}
.file_upload_button:hover {
    background-color: white;
}
.submit-left {
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.aibtn {
    display: inline-block;
    padding: 12px 30px;
    background: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
.aibtn:hover {
    background: #d32f2f;
}
html {
    scroll-behavior: smooth;
}
.linkedin input, .linkedin text area {
     width: 50%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 2px solid #ccc;
}
.wrap {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.wrapper .wrap .icon {
    font-size: 20px;
}
.wrapper .wrap:hover {
    width: 100px;
    transition: 0.7s;
}